/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #735AE5;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

#root {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .wrapper {
    @apply max-w-[92rem] mx-auto py-2 px-6 lg:px-4;
  }
  .btn {
    @apply bg-primary text-[#ffffff] px-5 py-3 rounded-md;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 45px;
}
.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 35px;
}
.out-bottom {
  animation: rotate 15s linear infinite;
  transform-origin: 84px 103px;
}
.in-bottom {
  animation: rotate 7s linear infinite;
  transform-origin: 84px 153px;
}

.banner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

.gradient-text {
  background: linear-gradient(
    to right,
    #F6BD6C 0%,
    #470aaa 50%
  ); /* Your gradient colors */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .hidden-slider {
    display: none !important;
  }
  .banner {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
}

.animate-horizontally{
  animation: slideInFromLeft 10s linear infinite;
}

@media screen and (max-width: 768px) {
  .animate-horizontally {
    animation-duration: 5s;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}